*.obj
*.tlog
*.pdb
*.dll
*.cache
*.txt
*.exp
*.ilk
*.pch
*.exe
*.exe.config
*.log
/Applications/UnitEngineApp/bin
/Applications/UnitEngineApp/obj
/StageEngineUI/obj
/UnitEngineUI/obj
/UnitEngineUI/bin
/UnitEngineUI/*.user
/ClientEngine/Debug
/Applications/StageEngineApp/bin
/Applications/StageEngineApp/obj
/Applications/ControlEngineApp/bin
/Applications/ControlEngineApp/obj
/Applications/ControlEngineApp/bin/Debug
