<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="ControlEngineApp" value="../../../Applications/ControlEngineApp/bin/Debug/ControlEngineApp.exe" />
    <add key="StageEngineApp" value="../../../Applications/StageEngineApp/bin/Debug/StageEngineApp.exe" />
    <add key="UnitEngineApp" value="../../../Applications/UnitEngineApp/bin/Debug/UnitEngineApp.exe" />
    <add key="ClientEngine" value="../../../ClientEngine/Debug/ClientEngine.exe" />
  </appSettings>
  
</configuration>
